@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

@keyframes fall {
  0% {
    transform: translateY(-200px) rotate(-10deg);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateY(800px) rotate(10deg);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall 6s linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease;
}

.animate-scaleIn {
  animation: scaleIn 0.6s ease;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom {
  animation: zoomIn 0.6s ease;
}

/* Estado inicial: invisible y un poco más abajo */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

/* Estado activo: visible y en su posición original */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
};

.font-cursiva {
  font-family: 'Great Vibes', cursive;
}

.font-shelley {
  font-family: 'Pinyon Script', cursive;
}